
.tinder-button {
  height: 75px;
  margin: 20px;
}

.tinder-button:hover {
  animation: button-anim 1 0.1s linear;
  height: 80px;
  margin: 17.5px;
  cursor: pointer;
}

.slide {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  margin: 20px;
  animation: img-anim 1 0.5s linear;
  overflow: hidden;
}

.name {
  padding-left: 20px;
  padding-right: 20px;

}

.again-button {
  text-decoration: none;
  padding: 20px 40px;
  border: 3px solid #FE6060;
  border-radius: 40px;
  color:  #FE6060;
}

.again-button:hover {
  animation: again-button-anim 1 0.1s linear;
  padding: 22px 44px;
}

.img {
  height: 50vh;

}

.description {
  font-weight: lighter;
  opacity: 0.56;
  font-size: 14px;
  padding: 20px;
  clip: auto;
  width: 30vh;
}

@keyframes again-button-anim {
  from {
    padding: 20px 40px;
  }
  to {
    padding: 22px 44px;
  }
}


@keyframes img-anim {
  from {
    opacity: 0;
   }
  to {
    opacity: 1;
   }
}

@keyframes button-anim {
  from {
    height: 75px;
    margin: 20px;
   }
  to {
    height: 80px;
    margin: 17.5px;
   }
}
