.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex:1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header-img {
  padding: 20px;
  height: 10vh;
}

.loader-container {
  display: flex;
  flex:1;
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader-text {
  padding: 20px;
  color:  #FE6060;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body {
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

@font-face {
    font-family: Anton;
    src: url('https://fonts.googleapis.com/css?family=Anton');
}
